<div class="products">
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">asdfasdfas</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
    <div class="item">
        <span>PHP 10,000.00</span>
        <p class="product_name">Laptop VH681 p2</p>
        <p class="product_desc">Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut!</p>
        <p>Item Item Item</p>
        <hr>
        <a class="btn btn-success btn-md bid-btn" href="#" role="button">Place Bid</a>
    </div>
</div>