<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Happy Bidding!</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae</p>
  <hr class="my-4">
  <p>Quo neque error repudiandae fuga? Ipsa laudantium molestias eos at sunt excepturi expedita sint?</p>
  <%= link_to 'Join the Bidding Frenzy!', login_path, class: 'btn btn-primary btn-lg' %>
</div>