<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<% if current_user %>
  <% if admin?(current_user) %>
        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Products</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/show_all_bid">Bids</a></li>
  <% else %>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Products</a></li>
  <% end %>
      </ul>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Hi, <%= camelcase(current_user.name) %> ! </a>
          <ul class="dropdown-menu">
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>
<% end %>
    </div>
  </div>
</nav>