// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.body {
    margin-top: 60px;
}

/* pagination */

div.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    a {
        padding: 5px 10px;
        border: 1px solid #007bff; /* Use a different border color for the current page */
        color: #007bff; /* Use a different text color for the current page */
        text-decoration: none;
        background-color: #f0f0f0; /* Use a different background color for the current page */
        font-weight: bold; /* Make the current page link bold */
    }
    a.previous_page {
        padding: 5px 10px;
        border: 1px solid #ddd;
        color: #333;
        text-decoration: none;
        background-color: #fff;
        margin-right: 5px; /* Add spacing between the links */
    }
    a.next_page {
        padding: 5px 10px;
        border: 1px solid #ddd;
        color: #333;
        text-decoration: none;
        background-color: #fff;
        margin-left: 5px; /* Add spacing between the links */
    }
}

div.pagination .current {
    padding: 5px 10px;
    border: 1px solid #262d35; /* Use a different border color for the current page */
    color: #bec5cc; /* Use a different text color for the current page */
    text-decoration: none;
    background-color: #3f414e; /* Use a different background color for the current page */
    font-weight: bold; /* Make the current page link bold */
}
  
/* products container and items */

.products {
    margin: 0 auto;
    width: 870px;
    vertical-align: top;
    .item {
        background-color: rgb(28, 135, 177);
        margin: 10px;
        padding: 40px 10px 10px 10px;
        display: inline-block;
        width: 260px;
        vertical-align: top;
        min-height: 150px;
        position: relative;
        border-color: gray;
        span {
            position: absolute;
            top: 0;
            right: 5px;
            color: white;
            font-weight: thick;
            font-size: 27px;
        }
        .product_name {
            font-weight: bold;
        }
        .bid-btn {
            width: 70%;
            display: block;
            margin: 0 auto 10px auto;
        }
    }
}

.product_info {
    display: block;
    margin: 0;
    span {
        font-weight: bold;
    }
}

/* footer */
footer {
    background-color: rgb(17, 28, 75);
    width: 100%;
    height: 100px;
    color: #eee;
    text-align: center;
    p {
        padding-top: 35px;
    }
}